#QSA = Query String Access

RewriteEngine On
RewriteRule ^$ front-controller.php?controller=default&action=default [QSA,L]
RewriteRule (^[a-z][a-zA-Z0-9]*)\/([a-z][a-zA-Z0-9]*)$ front-controller.php?controller=$1&action=$2 [QSA,L]